---
import AboutHeroImage from '../assets/hero-image.png';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Acerca de mi"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		Soy John Berroa, soy un técnico en hostelería y servicios que tenía la 
		informática como un hobby, hasta que un día en la pandemia descubrí, 
		(buscando hacer dinero por internet) como muchos, descubrí que me gusto el diseño y desarrollo web, así que empezó aquí y allá viendo tutoriales como y aprendiendo, bueno así que  decidí entrar a la universidad y ponerme en serio a mis 40 años  quiero darle un mensaje a mis hijos de siempre seguir adelante.
	</p>
	<p>Tenemos una cafetería <a href="https://www.instagram.com/piccolatorta.rd/">(Piccola)</a>, ha sido nuestro soporte, la atiendo junto a mi 
		esposa y esperamos tener más sucursales en un futuro.
</p>
<p>Así empieza este comienzo con este blog para ir introduciendo lo que aprendo 
	en este camino.
</p>
</Layout>
