---

import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import HeaderHero from '../components/headerHero.astro';

---

<!doctype html>
<html lang="es"  >
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
			<HeaderHero/>
		<main>
			<article>
				<p class="parraf ">Bienvenido, a Berroa’s Method.
					Un espacio personal donde cuento mis aventuras dentro del desarrollo front-end, UX/UI y diseño
				</p>
				<p class="parraf">A mi método voy compartiendo cosas de mí, ojalá te puedan ayudar y si bueno se jodió to..</p>
			</article>
		</main>
		<Footer />
	</body>
	<viewtransition />
</html>
