---
import miImagen from '../assets/hero-image.png';
---
<div class="header-hero">
			<div class="hero-title">
				<h1>Berroa's Method <span><img src={miImagen.src} alt="imagen Bmethod" ></span></h1>
			</div>
		</div>
